# Telegram Bot Token (from @BotFather)
BOT_TOKEN=8562851695:AAEgPRybNawfUOruJTTCZsOv3YiSMsyN7aQ

# PostgreSQL Database
DATABASE_URL=postgresql://user:password@localhost:5432/moviebot

# Private channel where movies are uploaded
# The bot MUST be an admin in this channel
MOVIE_CHANNEL_ID=-1003942371290

# Super Admin Telegram ID (your personal Telegram numeric ID)
SUPER_ADMIN_ID=7173535158

# Rate Limit: max requests per window
RATE_LIMIT_MAX=5
RATE_LIMIT_WINDOW_MS=10000
